<!DOCTYPE html>
<meta charset="UTF-8" />
<title>About Me - Panda Orb</title>
<link rel="icon" href="/static/favicon.ico" />
<link rel="stylesheet" href="/static/main.css" />

{% include 'header.html' %}

<main>
  <article>
    <p>I'm Lucas, an Honors B.S. graduate in Computer Science from the University of Utah (May 2025), where I focused on designing and building software that prioritizes both technical excellence and human impact.</p>
    <p>Welcome to my website!</p>
    <p>In addition to programming knowledge, I also have experience in human-centered design, user research, and rapid prototyping. I&rsquo;m interested in how software can influence behavior and well-being, and hope to explore this throughout my career.&nbsp;</p>
    <p>I also love games of all sorts! I've grown up playing board games, video games, and tabletop roleplaying games my whole life and as such they live in my brain at all times.</p>
    <p>I started playing TTRPGS with D&amp;D 4e and then moving to 5e which I played for a long while. Currently I'm running a multi-year campaign of Starfinder 2e, and am planning on running His Majesty the Worm once that wraps up.</p>
    <p>I hope to use this blog to put my thoughts somewhere tangible, and who knows, maybe someone might find it useful!</p>
    <p>Thanks for visiting :)</p>
    <p>-Lucas Zagal</p>
    <address>You can contact me at <a href="mailto:lucasjzagal@gmail.com">lucasjzagal@gmail.com</a></address>
  </article>

  {% include 'sidebar.html' %}
</main>

{% include 'footer.html' %}
