<!DOCTYPE html>
<meta charset="UTF-8"/>
<title>Panda Orb</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

<header>
    <nav>
        <h1>Panda Orb</h1>
        <div>
        <a href="../">Blog</a>
        <a href="../about">About Me</a>
        </div>
    </nav>
</header>

<main>
    
    <article>
        <h2>{{post.publicationDate}}</h2>
        <h1>{{post.title}}</h1>
        {{post.contents|safe}}
        <footer>
        <div class="tags"><a href="#">reviews</a> * <a href="#">advice</a></div>
        <nav><a href="#">Previous Post</a> <a href="#">Next Post</a></nav>            
        </footer>

        <form>
            <p><label for="commentBox">Leave a comment!</label></p>
            <p><textarea id="commentBox"></textarea></p>
            <p><button>Submit</button></p>
        </form>
    </article>

    <aside>
        <label for="search"><h1>Peruse the Archives</h1></label>
        <form><input id="search" type="search"><button>Search</button></form>
       {% for year, months in archive.items%}
        <details>
            <summary>{{year}}</summary>
            {%for month, posts in months.items%}
            <details>
                <summary>{{month}}</summary>
                {%for post in posts%}
                <a href="/{{post.id}}/">{{post.title}}</a>
                {%endfor%}
            </details>
            {%endfor%}
        </details>
        {% endfor %}
    </aside>
</main>

<footer>Copyright Me. All rights reservered. Logo by Sarah Hopefully?</footer>