<!DOCTYPE html>
<meta charset="UTF-8"/>
<title>Panda Orb</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

{%include 'header.html'%}

<main>
    
    <article>
        <h2>{{post.publicationDate}}</h2>
        <h1>{{post.title}}</h1>
        {{post.contents|safe}}
        <footer>
        <div class="tags">
            {%for tag in post.tags.all%}
            <a href="../search/?q={{tag.word}}">{{tag.word}}</a> {%if not forloop.last%} * {%endif%}
            {%empty%}
            <p><em>This post has no tags</em></p>
            {%endfor%} 
        </div>
        
        <nav>
            {%if previous != -1%}
            <a href="../{{previous}}">Previous Post</a> 
            {%endif%}
            {%if next != -1%}
            <a href="../{{next}}">Next Post</a></nav>   
            {%endif%}         
        </footer>

        <form>
            <p><label for="commentBox">Leave a comment!</label></p>
            <p><textarea id="commentBox"></textarea></p>
            <p><button>Submit</button></p>
        </form>
    </article>

    {%include 'sidebar.html'%}
</main>

<footer>Copyright Me. All rights reservered. Logo by Sarah Hopefully?</footer>