<!DOCTYPE html>
<meta charset="UTF-8"/>
<title>Panda Orb</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

{%include 'header.html'%}

<main>
    <div>
    {%if pageNum == 0 and leftover <= 0%}
    <table style="border-radius: 10px;">
    {%else%}
    <table>
    {%endif%}
        <tbody>
            {%for post in main_posts%}
             <tr><td><img alt="{{post.thumbnailAltText}}" src="../static{{post.thumbnail.url}}"></td> 

                <td><h1><a href="../{{post.id}}/">{{post.title}}</a></h1><h2>{{post.publicationDate|date:"F d, Y"}}</h2> <p>{{post.blurb}}</p>
                <nav><label><strong>Tags:&nbsp</label></strong>
                    {%for tag in post.tags.all%}
                    <a href="../search/?q={{tag.word}}">{{tag.word}}</a> {%if not forloop.last%} * {%endif%}
                {%empty%}
                <p><em>This post has no tags</em></p>
                {%endfor%} </nav>
                </td></tr>
            {%endfor%}
        </tbody>
    </table>

    {%if pageNum == 0 and leftover > 0 %}
    <nav><a href="page/1/">Older Posts</a></nav>
    {%elif pageNum > 0 and leftover > 0 %}
    <nav><a href="page/{{olderPage}}/">Older Posts</a> <a href="page/{{newerPage}}/">Newer Posts</a></nav>
    {%elif pageNum > 0 and leftover <= 0%}
    <nav><a href="page/{{newerPage}}/">Newer Posts</a></nav>
    {%endif%}
    </div>
    
    {%include 'sidebar.html'%}
</main>

{%include 'footer.html'%}