<!DOCTYPE html>
<meta charset="UTF-8"/>
<title>Panda Orb</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

<header>
    <nav>
        <h1>Panda Orb</h1>
        <div>
        <a href="../">Blog</a>
        <a href="../about">About Me</a>
        </div>
    </nav>
</header>

<main>
    <div>
    {%if pageNum == 0 and leftover <= 0%}
    <table style="border-radius: 10px;">
    {%else%}
    <table>
    {%endif%}
        <tbody>
            {%for post in main_posts%}
            <tr><td><img alt="image" src="static{{post.thumbnail.url}}"></td> <td><h1><a href="{{post.id}}/">{{post.title}}</a></h1><h2>{{post.publicationDate}}</h2> <p>{{post.blurb}}</p></td></tr>
            {%endfor%}
        </tbody>
    </table>

    {%if pageNum == 0 and leftover > 0 %}
    <nav><a href="page/1/">Older Posts</a></nav>
    {%elif pageNum > 0 and leftover > 0 %}
    <nav><a href="page/{{olderPage}}/">Older Posts</a> <a href="page/{{newerPage}}/">Newer Posts</a></nav>
    {%elif pageNum > 0 and leftover <= 0%}
    <nav><a href="page/{{newerPage}}/">Newer Posts</a></nav>
    {%endif%}
    </div>
    
      <aside>
        <label for="search"><h1>Peruse the Archives</h1></label>
        <form><input id="search" type="search"><button>Search</button></form>
        {% for year, months in archive.items%}
        <details>
            <summary>{{year}}</summary>
            {%for month, posts in months.items%}
            <details>
                <summary>{{month}}</summary>
                {%for post in posts%}
                <a href="/{{post.id}}/">{{post.title}}</a>
                {%endfor%}
            </details>
            {%endfor%}
        </details>
        {% endfor %}
    </aside>
</main>

<footer>Copyright Me. All rights reservered. Logo by Sarah Hopefully?</footer>