<!DOCTYPE html>
<meta charset="UTF-8"/>
<title>About Me - Panda Orb</title>
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/main.css">

{%include 'header.html'%}

<main>
   <article>
      <p>My projects will go here!</p>
      <ul>
         <li>CMU Research</li>
         <li>Senior Research Thesis</li>
         <li>This site</li>
         <li>Various games</li>
         <li>School cs projects</li>

      </ul>
   
   </article>
      
   {%include 'sidebar.html'%}
</main>

{%include 'footer.html'%}